<!-- <div class="eshop-header">
   <div class="p-grid">
       
    <div class="p-col-3">
        <div class="eshop-logo">
            <img src="https://primefaces.org/primeng/showcase/assets/showcase/images/primeng.svg" />
        </div>
    </div>
    <div class="p-col-3 p-sm-* p-offset-4">

        <div class="eshop-menu">
           <ul>
               <li>test</li>
               <li>test1</li>
               <li>test2</li>
               <li>test3</li>
           </ul>
        </div>
   
    </div>
    <div class="p-col-3 p-md-*">

        <div class="eshop-search">
            search
        </div>
    </div>
   </div>
</div> -->
<eshop-message></eshop-message>
<div class="navbar">
    <div class="logo">
        <img src="img/src" width="120px" />
    </div>
    <div class="nav">
        <ul >
            <li><a  routerLink="home">home</a></li>
            <li><a  routerLink="product" >shop</a></li>
            <li><a href="" >contact</a></li>
            <li><a href="" >about</a></li>
            <li><products-search></products-search></li>
        </ul>
      
    </div>
    <a routerLink="cart"><i class="pi pi-shopping-cart p-pt-1" pBadge  value="{{ countItems }}"></i></a>
</div>
  