<p-breadcrumb [model]="items" [home]="order"></p-breadcrumb>
<p-toast ></p-toast>
<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header" icon="pi pi-exclamation-triangle">
        <h3>Confirmation</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<div class="eshop-main">
    <p-card header="Orders" subheader="You can Manage order " [style]="{ 'margin-right': 'auto','margin-top': '3%' }">
        <div class="p-grid">
            <div class="p-col-12 p-md-* p-lg-*">
    
            </div>
        </div>

        <div class="p-grid">
            <!-- <div pRipple class="purple"> -->
                <div class="p-col-12 p-md-* p-sm-* p-md-*">
                    <p-table [scrollable]="true" scrollHeight="200px"
                        [value]="orderList"  [globalFilterFields]="['name']"
                        *ngIf="orderList && orderList.length > 0"
                        styleClass="p-datatable-responsive-demo">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Orders list
                                <p-button icon="pi pi-refresh float-right"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="name" style="text-align: center;"> Name <p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="phone" style="text-align: center;">Phone Number <p-sortIcon field="phone"></p-sortIcon></th>
                                <th pSortableColumn="price" style="text-align: center;">Price<p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="date" style="text-align: center;">Date Order<p-sortIcon field="date"></p-sortIcon></th>
                                <th pSortableColumn="status" style="text-align: center;">Status<p-sortIcon field="status"></p-sortIcon></th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td  style="text-align: center;">{{ order.user?.name }}</td>
                                <td style="text-align: center;">{{ order.phone }}</td>
                                <td  style="text-align: center;">{{ order.totalPrice }}</td>
                                <td  style="text-align: center;">{{ order.dateOrder | date: 'mediumDate' }}</td>
                                <td  style="text-align: center;">
                                    <p-tag styleClass="p-mr-2" [rounded]="true" [severity]="orders[order.status].color"  [value]="orders[order.status].label"></p-tag>
                          </td>
                                <td>
                                    <button pButton pRipple type="button" [routerLink]="['/ordersDetail', order.id]" icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-mr-2"></button>
                                    <button pButton pRipple type="button" (click)="deleteOrder(order.id)" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p *ngIf="orderList.length <=0">No Orders Found</p>
                </div>
            <!-- </div> -->
        </div>
    </p-card>



</div>

