
.eshop{
    &-wrapper{
        height: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    &-sidebar{
        position: fixed;
        width: 315px;
        text-decoration: none;

        .logo{
            margin-top: 20px;
            padding: 20px;
            width: 100%;
            text-align: center;
            
            img{
                max-width: 50px;
            }
        }

        .link{
            
            ul li {
                border-radius: 20px;
                padding: 10px;
                list-style: none;
                display: block;
                margin-top: 10px;
                width: 100%;

                &:hover{
                    transform: scaleY(1);
                    background-color: white;
                    color: #9c27b0;
                    font-weight: 700;
                    transition: all in ease-in;
                    box-shadow: 0 0 11px rgba(33, 33, 33, 0.274); 
                }
                a{

                    i{
                        margin-right: 8px;
            
                    }
                }
            
            }
            ul{
                padding: 8px 12px 8px;
            }
        
        }
    }

    &-content{
        height: 100%;
        margin-left: 3%;
        width: calc(100% - 80px);

    }
    &-main{
        padding: 14px;
    }
   
}

.p-ripple.purple .p-ink {
    background: rgba(256,39,176,.1);
}

  