<div class="p-grid">
    <div class="p-sm-* p-md-* p-xs-*">
        <div class="eshop-sidebar">
            <div class="logo" >
                <img src="../../../assets/logo/mozy.png"/>
            </div>
        
            <div class="link">
                <ul>
                    <li><a routerLink=''> <i class="pi pi-home" style="margin-right: 8px;"></i>Dashboard</a></li>
                    <li><a routerLink='products'> <i class="pi pi-list" style="margin-right: 8px;"></i>Products</a></li>
                    <li><a routerLink='categories'> <i class="pi pi-briefcase" style="margin-right: 8px;"></i>Categories</a></li>
                    <li><a routerLink='orders'> <i class="pi pi-shopping-cart" style="margin-right: 8px;"></i>Orders</a></li>
                    <li><a routerLink='users'> <i class="pi pi-users" style="margin-right: 8px;"></i>Users</a></li>
                    <li><a routerLink='logout' (click)="logout()"><i class="pi pi-sign-out" style="margin-right: 8px;"></i>logout</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

